header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 16px;
    box-shadow: 0 3px 4px 0 rgba(153, 155, 168, 0.2509803922);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;

    @media screen and (min-width: 768px) {
        padding: 20px 32px;           
    }

    @media screen and (min-width: 1024px) {
        position: relative;              
    }

    .logo_block {
        display: flex;
        align-items: center;
        gap: 13px;

        > div:last-child {
            width: 100%;
            

            @media screen and (min-width: 1440px) {
                width: 519px;                
            }

            input {
                width: 50px;
                padding: 0 15px 0 38px;

                @media screen and (min-width: 1440px) {
                    width: 100%;    
                    padding: 0 15px 0 48px;           
                }
            }
        }

        .logo {
            width: 35px;
    
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .nav_block {
        display: flex;
        align-items: center;
        gap: 37px;

        .nav {
            display: none;
            gap: 29px;

            @media screen and (min-width: 1024px) {
                display: flex;             
            }

            a {
                color: var(--gray);
                font-weight: 700;
            }
        }

        > div:last-child {
            display: flex;
            align-items: center;
            gap: 11px;

            button:first-child {
                width: 80px;
                height: 40px;

                @media screen and (min-width: 768px) {
                    width: 98px;              
                }
            }
        }
    }

    .user {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }
}