.input-block {
    display: flex;
    flex-direction: column;
}

.input-block__label {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
    font-weight: 500;
}

.input-block__input {
    border: 1px solid #CFDBD599;
    border-radius: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding: 12px 20px;
}

.input-block__input.password {
    width: calc(100% - 42px);
}

.input-block__input::placeholder {
    color: var(--gray);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.input-block__btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 18px;
    cursor: pointer;
}

.input-block__btn img {
    width: 100%;
}