.modal {
    background-color: white;
    box-shadow: 0 20px 24px 0 #999BA82E;
    border-radius: 16px;
    padding: 40px;
    overflow: auto;

    &_title {
        font-weight: 800;
        font-size: 28px;
        text-align: center;
    }

    &_description {
        color: var(--gray);
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin-top: 8px;
    }
}

.image_container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}