@import url('./variables/var.scss');
@import url('./general.scss');

.btn {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    height: 46px;
}

.blue-btn {
    background-color: var(--blue);
    color: white;
}

.lightBlue-btn {
    background-color: var(--lightBlue);
    color: var(--gray);
}

.secondary-btn {
    color: var(--gray);
    border: 1px solid #CFDBD599;
    background-color: white;
}

.secondary-btn-black {
    border: 1px solid #CFDBD599;
    background-color: white;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.list-unstyled {
    list-style: none;
}

.cursor-pointer {
    cursor: pointer;
}
